<div class= "card center mt-5">
  <div class= "card-image">
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar.variant(resize_to_fill: [500, 500],
                                         crop: [0, 0, 500, 500]).processed,
                                         class: "mt-2 card-img-top center rounded-circle avatar") %>
    <% else %>
      <%= image_tag("avatar.place.holder", width: "500", class: "rounded-circle avatar")%>
    <% end %>
  <div>

  <div class= "card-body center"> 
    <h1 class="card-title"><%= @user.full_name %></h1>
    <div class="card-body center">
      <h2><%= @user.bio %></h2>
    </div>
  </div>
</div>